.nav-item {
  width: auto;
  color: none !important;
}
.nav-link {
  transition: none !important;
}

.header {
  color: #212529;
}

.body {
  height: fit-content !important;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
