html {
  background-color: #6b6b6b;
}
section {
  background-color: #6b6b6b;
}
footer {
  background-color: #6b6b6b;
  color: black;
  text-align: center;
  padding: 10px;
  border-top: 1px solid black;
}
#nav-container {
  background-color: #6b6b6b;
  margin-left: 0;
  justify-self: center;
}
.active {
  background-color: black !important;
}
.nav {
  justify-content: center;
  --bs-navlink-color: black !important;
}
.sub {
  color: black !important;
}
.nav-item {
  width: auto;
  color: none !important;
}
.nav-link {
  transition: none !important;
  display: block;
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  text-decoration: none;
  background: 0 0;
  border: 0;
}

.hero-container {
  height: 380px;
  background-image: url("./images/mountains.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: top;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: soft-light;
  color: #212529;
}
.body {
  padding-top: 50px;
  color: #212529;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head-cap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.head-cap > img {
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.5);
}
.usmc > img {
  height: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.5);
  grid-row: span 2;
  align-self: center;
  justify-self: center;
}
.usmc > p {
  grid-row: span 2;
}
.usmc {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 10px;
}
.college > p {
  grid-row: span 2;
  text-align: right;
}
.college {
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-template-rows: 1fr 1fr;
  padding-top: 10px;
}
.college > img {
  height: 150px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.5);
  grid-row: span 2;
  align-self: center;
  justify-self: right;
}
#btn-back-to-top {
  position: fixed;
  bottom: 5px;
  right: 20px;
  display: none;
}

.contact {
  height: 20px;
}
/* About Page */
